---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Personal Card Portfolio Astro" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">
	<Card
	  name="Subash Sinkhwal"
	  position="Computer Engineer"
	  aboutMe={`Hi there! I'm Subash Sinkhwal.I'm computer engineering student,studying in Khwopa Engineering College.`}
	  linkedin="https://www.linkedin.com/in/subash-sinkhwal-2aab5b215"
	  github="https://github.com/sinkhwal07"
	  cvLink="/files/CV.pdf"
	  profileImage="/images/images.jpg"
	/>
</BaseLayout>

